@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    /* 色は#333333の短縮コード */
    color: #333;
    clear: both;
}

/* リンクの基本色 */
a {
    color: #66cdaa;
    text-decoration: none;
}

/* 一度訪問住みリンクの色 */
a:visited {color: #008080; }

/* カーソルを合わせたときの装飾色　:hoverという疑似クラス*/
a:hover {
    color: #228b22;
    font-weight: bold;
    text-decoration: none;
}

/* opacityを使うことで半透明にすることができる */
a:hover img { opacity: 0.7; }

/* 行間の調整 */
h1, h2, h3, h4, h5, h6 { margin-top: 0; }


/* 画像の配置位置を設定する */
img { vertical-align: bottom; }


/* ヘッダーの幅を設定する */
/* marginを記述通りに設定すると中央揃えに設定される */
header {
    width: 980px;
    margin: 0 auto;
}

header h1 {
    float: left;
    margin: 5px 0 10px;
}


/*共通のCSS*/
#contents {
    width: 980px;
    margin: 10px auto;
    overflow: hidden;
}

#theme {
	width: 978px;
	border: 1px solid #254f51;
	margin: 10px auto;
}

#theme h1 {
    background-color: #254f51;
    padding: 10px,10px,20px,20px;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}


#theme h3 {
    text-align: center;
}

#theme p {
    text-align: center;
}

#element {
    width: 728px;
    float: left;
    border: 1px solid #254f51;
    margin-bottom:10px;
}

#element h1 {
    background-color: #254f51;
    padding: 10px,10px,20px,20px;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}


#element h3 {
    text-align: center;
}

#element p {
    text-align: center;
}


#side {
    width: 218px;
    float: right;
    border: 1px solid #254f51;
    margin-bottom: 10px;
    
}

#side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#side h4{
    background-color: #254f51;
    margin: 0%;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}


#side p {
    width: 200px;
    margin: 10px auto;
    text-align: center;
}


/*ログインボタン*/
.login_button {
    display: inline-block;
    background: #e1ffff;
    background: linear-gradient(to bottom,  #ffffff 0%,#e1ffff 100%);
    color: #254f51;
    padding: 10px;
    border: 1px solid #254f51;
    border-radius: 10px;
    text-decoration: none;
}

.footer {
	width: 980px;
    background-color:#dcdcdc;
    text-align: center;
    margin-top: 20px;
}

.footer p {
    padding: 4px 0;
    text-align: center;
    color: #fff;
}

/*全機能ページのタイトル用*/
.function_title {
	 background: #dcdcdc;
	 color:#000;
	 padding: 10px 0 10px 10px;
}


/*ほぼ全画面で使用できるエラーメッセージ*/
.exception_message {
	 color:#ffa500;
}

/*学生一覧用のCSS*/
/*学生一覧テーブル用(studentinfomation.jsp)*/
.registration_link {
	float: right;
	margin-right: 25px;
}

.studentform {
	width: 938px;
	margin:0 auto 10px;
	padding: 20px 5px 20px;
	text-align: center;
	border: solid 1px; 
	border-radius: 10px;
	clear: both;
}

.studentform_elements {
	display: inline-block;
	width: 300px;
	height: 60px;
	margin: 0 5px;
}
.studentform_elements label {
	float: left;
	margin-left: 10px;
}
.studentform_elements select {
	width: 280px;
	height: 30px;
	padding: 5px;
	border: 2px solid #d3d3d3;
	border-radius: 5px;
}

.studentform_elements1 {
	display: inline-block;
	width: 100px;
	margin: 0 5px;
}

.narrowdown_buttom_delete{
    background: red;
    color:#ffffff;
    padding: 10px;
    border:solid 1px red;
    border-radius: 5px;
}

.narrowdown_buttom{
	background: #4169e1;
    color:#ffffff;
    padding: 10px;
    border:solid 1px #4169e1;
    border-radius: 5px;
}


.none_message {
	text-align: center;
	color: red;
}

.student_list {
    border-collapse:  collapse; /* セルの線を重ねる */
    width: 960px;
    margin:0 auto;
    text-align: center;
    border: solid 1px; 
}

.student_list td {
    padding: 7px 15px;          /* 余白指定 */
    border-bottom: solid 1px; 
}

.student_list th {
	background-color:  #DDE8EE;    /* 背景色指定 */
    padding: 5px 10px;          /* 余白指定 */
    border-bottom: solid 1px; 
}


.number_of_data {
	text-align: left;
	padding-left: 20px;
	margin-bottom: 5px;
}

/*成績参照用のCSS*/
/*学生検索や参照テーブル用*/
.grades_infomation {
	border-collapse:  collapse; /* セルの線を重ねる */
    width: 960px;
    margin:0 auto 10px auto;
    text-align: left;
    border: solid 1px; 
}

.grades_infomation td {
    padding: 7px 15px;         /* 余白指定 */
    border-bottom: solid 1px; 
}

.point_text {
	width: 200px;
}
.table_normal_tag{
	background-color:  #DDE8EE;    /* 背景色指定 */
    padding: 5px 10px;          /* 余白指定 */
    border-bottom: solid 1px; 
    width:100px;
}

.table_subject_title {
	background-color:  #DDE8EE;    /* 背景色指定 */
    padding: 5px 10px;          /* 余白指定 */
    border-bottom: solid 1px; 
	width: 200px;
}

/*成績情報のフォーム用*/
.gradesform_elements {
	display: inline-block;
	width: 150px;
	height: 60px;
	margin: 0 5px;
}
.gradesform_elements label {
	float: left;
	margin-left: 10px;
}
.gradesform_elements select {
	width: 150px;
	height: 30px;
	padding: 5px;
	border: 2px solid #d3d3d3;
	border-radius: 5px;
}
.gradesform_elements2 {
	display: inline-block;
	width: 300px;
	height: 60px;
	margin: 0 5px;
}
.gradesform_elements2 label {
	float: left;
	margin-left: 10px;
}
.gradesform_elements2 select {
	width: 300px;
	height: 30px;
	padding: 5px;
	border: 2px solid #d3d3d3;
	border-radius: 5px;
}
.gradesform_elements2 .reference_no {
	width: 300px;
	height: 30px;
	padding: 5px;
	border: 2px solid #d3d3d3;
	border-radius: 5px;
}
.gradesform_elements1 {
	display: inline-block;
	width: 80px;
	height: 60px;
	margin: 0 5px;
}



/*ログイン画面*/
.login-container {
  
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.login-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-input{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  text-align: center;
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.login-p{
	text-align: center;
	color:#000
}

.login-title{
	font-size: 48px;
	width: 980pxpx;
	background: rgb(217, 236, 255);
	color:#000;
	padding: 10px 0 10px 10px;
}

.login-main{
	text-align: center;
	font-size: 35px;
	width: 980pxpx;
	height: 50px;
	background: rgb(239, 239, 239);
	color:#000
}


/*ログアウト画面*/
.logout-active{
	font-size: 35px;
	width: 980pxpx;
	height: 50px;
	background: rgb(239, 239, 239);
}
.logout-ok {
	text-align: center;
	font-size: 20px;
	width: 980pxpx;
	height: 29px;
	background: rgb(0, 168, 43);
}

.logout-title{
	font-size: 48px;
	width: 980px;
	background: rgb(217, 236, 255);
	color:#000;
	padding: 10px 0 10px 10px;
	margin:10px auto 0 auto;
}

/*学生登録情報*/
.select_ent_year{
	width:950px;
	height:38px;
}


.select_label_line{
	width:960px;
	height:43px;
}

/*学生登録変更*/
.student-change-wk{
	width:950px;
	height:30px;
}
.student-change-button{
	padding: 10px;
  background-color: rgb(0, 128, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
}
.student-change-line{
	border:none;
	width:940px;
	height:35px;
}

.student-change-label{
	width:960px;
	height:40px;
}

/*メニュー*/
.menu-title-label{
	width: 980px;
	height: 78px;
	margin-top: 10px;
	background: rgb(217, 236, 255);
}

.menu-title-label h1{
	font-size: 48px;
	padding: 0 0 0 10px;
}

.menu-title-log {
	position: relative;
	width:980px;
	vertical-align: middle;
}

.menu-title-contents{
	width:400px;
	float:right;
}

.menu-title-contents .accountlogout{
	width:90px;
	float:right;
	margin:35px 10px 0 0;
}


.menu-title-contents .accountname {
	width:290px;
	float: left;
	margin:35px 10px 0 0;
	text-align: right;
}

/*ドロップダウンメニュー*/
.dropdown__lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    list-style:none;
    padding: 0px;
    margin: 0px;
}
.gnavi__list:hover .dropdown__lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__list {
    background-color: #004d80;
    height: 60px;
    transition: all .3s;
    position: relative;
    list-style:none;
}
.dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3492d1;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown__list:hover {
    background-color: #003558;
}
.dropdown__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}
.gnavi__wrap {
    width: 980px;
    
}
.gnavi__lists {
    display: flex;
    padding-inline-start: 0%;
}
.gnavi__list {
    width: 20%;
    height: 60px;
    background-color: #E5F0F8;
    position: relative;
    transition: all .3s;
    list-style:none;
    text-align: center;
    margin: 0 auto;
}
.gnavi__list:hover {
    background-color: #0071BB;
}
.gnavi__list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}
.gnavi__list:hover::before {
    background-color: #0071BB;
}
.gnavi__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
}
.gnavi__list:hover a {
    color: #fff;
}



/*変更完了メッセージ用*/
.succsess_mes{
	text-align: center;
	margin:0 auto;
	background-color: #3cb371;
	color: #333;
}

/*統計情報のぺ―ジのCSS*/
.statistics_subject {
	font-size: 35px;
	text-align: center;
	margin:20px auto 30px auto;
	font-family: serif;
}

.statistics_area{
	margin:10px auto;
	width: 930px;
}

.statistics_area .excellent_grades_list {
	text-align: center;
	font-size: 50px;
	margin:30px 0 0 0;
	font-family: serif;
}

.point_contests {
	display: inline-block;
	width:306px;
}

.point_contests h1 {
	width:150px;
	text-align: center;
	margin:10px auto 0 auto;
	font-family: serif;
	border-bottom:solid 1px #000;
	font-family: serif;
}

.point_contests .statistics_points {
	text-align: center;
	font-size: 80px;
	margin:0 5px;
	font-family: serif;
}

.excellent_grades {
	display: inline-block;
	width:305px;
	border:solid 1px #333;
	border-radius: 5px;
}

.excellent_grades .excellent_grades_tags {
	width: 80px;
	margin:10px auto;
	text-align: center;
	font-size: 15px;
	border-bottom:solid 1px #000;
}

.excellent_grades .excellent_grades_data {
	text-align: center;
	font-size: 20px;
}

/*マイぺ―ジのCSS*/
.mypage_main {
	width:350px;
	float:left;
}

.mypage_main_contents {
	text-align: left;
	width:350px;
}

.mypage_main_contents .mypage_tags {
	width:120px;
	margin:0 0 0 5px;
	border-bottom:solid 1px #000;
}

.mypage_main_contents .mypage_name {
	font-size: 30px;
	margin: 10px auto 10px 20px;
}
.mypage_main_contents .school_name {
	font-size: 30px;
	margin: 10px auto 10px 20px;
}

.mypage_main_contents .account_id {
	font-size: 15px;
	margin: 15px auto 10px 20px;
}

.mypage_main_contents .account_pass {
	font-size: 15px;
	margin: 5px auto 10px 20px;
}


.mypage_function {
	width: 610px;
	float: right;
	padding-left: 10px;
	border-left: solid 1px #333;
}

.mypage_function_contests_title {
	width:148px;
	padding-left: 5px;
	border-bottom:solid 1px #000;
}

.mypage_function_contests_top {
	margin:10px 0 0 10px;
}
.mypage_function_contests_top .mypage_function_explanation {
	margin:5px auto 5px 10px;
	font-size: 20px;
}

.mypage_function_contests_top .handling_explanation {
	margin:5px auto 5px 20px;
	font-size: 12px;
}

.mypage_function_contests_top .function_urls{
	text-align: right;
	font-size: 14px;
	color: #dc143c;
	margin: 5px 20px 5px 0;
}
.mypage_function_contests_top .function_urls a {
	margin: 0 0 0 10px;
	font-size: 19px;
}

.mypage_function_contests {
	width: 590px;
	margin:30px auto;
}


.mypage_function_contests .mypage_function_explanation {
	margin:5px auto 5px 10px;
	font-size: 20px;
}

.mypage_function_contests .handling_explanation {
	margin:5px auto 5px 20px;
	font-size: 12px;
}

.mypage_function_contests .function_urls{
	text-align: right;
	font-size: 14px;
	color: #dc143c;
	margin: 5px 20px 5px 0;
}
.mypage_function_contests .function_urls a {
	margin: 0 0 0 10px;
	font-size: 19px;
}
.exception_function {
	font-size: 9px;
	color: aqua;
}

/*エラーページのCSS*/
.error_title{
	width: 400px;
	float: left;
	text-align: center;
	margin-left:10px;
}

.error_log{
	margin-top: 150px;
	font-size: 30px;
	background-color: #3cb371;
}

.error_explanation{
	margin-top: 20px;
	font-size: 20px;
}

.fun_area{
	margin-top:50px;
	border:solid 1px #000;
	background-color: #fffaf0;
	border-radius: 5px;
}

.complaint_text{
	margin: 20px auto 10px auto;
	font-size: 20px;
}

.complaint_area{
	margin: 10px auto 20px auto;
	width: 200px;
	height: 50px;
}

.error_hateful{
	width: 500px;
	float: right;
	margin:auto 10px;
	border: solid 1px #333;
}

.kairu_png{
	width: 500px;
}


.home_title{
	width: 970px;
	margin:5px auto 10px auto;
	text-align: center;
	font-family: serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
	border-radius: 5px;
	border: solid 1px #333;
}

.home_title p{
	margin:10px;
}


/*ホーム画面のCSS遊び*/

.home_image{
	display: inline-block;
	width: 250px;
	background-color: #fffacd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: solid 1px #333;
}
.home_image_pasta{
	display: inline-block;
	width: 250px;
	background-color: #fffacd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: solid 1px #333;
	height:225px
}
.home_image_itamae{
	display: inline-block;
	width: 250px;
	background-color: #fffacd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: solid 1px #333;
	height:397px
}

.home_contents_image{
	width: 150px;
	margin: 20px 50px;
}
.home_contents_image_pasta{
	width: 150px;
	margin: 58px 50px;
}
.home_contents_image_itamae{
	width: 150px;
	margin: 84px 50px;
}

.home_body {
	width:950px;
	margin:10px auto 10px auto;
	border: solid 1px #333;
	border-radius: 5px;
	padding: 10px 10px;
	background-color: #fffafa;
}

.home_explanation{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	width:660px;
}

.home_explanation_title{
	background-color: #e6e6fa;
	padding-left: 15px;
	margin:5px auto 10px auto;
}

.home_explanation_elements_normal {
	padding-left: 20px;
	margin:2px auto;
	font-size: 18px;
}

.home_explanation_elements{
	padding-left: 30px;
	margin:3px auto;
	font-size: 15px;
}

.multi_home_explanation_elements_normal {
	padding-left: 20px;
	margin:2px auto;
	font-size: 14px;
}

.multi_home_explanation_elements{
	padding-left: 30px;
	margin:3px auto;
	font-size: 12px;
}

.home_explanation_elements_links{
	margin-left: 100px;
	font-size: 20px;
	border-bottom:3px double #008080;
}

.home_multi{
	width:650px;
	margin-left:10px;
}

.home_multi_explanation{
	width:640px;
}

.home_multi_image_body{
	display: inline-block;
	width:200px;
	background-color: #f5deb3;
	height:158px;
}

.home_multi_image{
	width: 100px;
	margin:37px 50px 0 50px;
}

.home_multi_explanation_text{
	display: inline-block;
	vertical-align: top;
	width:430px;
	
}

.home_multi_title{
	width:430px;
	background-color: #b0c4de;
	font-size: 20px;
	padding-left: 15px;
	margin:5px 0 5px;
}

.home_mypage_image{
	display: inline-block;
	vertical-align: top;
	width: 317px;
	background-color: #f0fff0;
	height: 204px;
	border: solid 1px #e0ffff;
	border-radius: 5px;
}

.home_mypage_text{
	display: inline-block;
	border: solid 1px #333;
	width: 278px;
	border-radius: 5px;
	height: 206px;
	margin:0 10px;
}

.home_mypage_image_in{
	width:200px;
	margin:10px 50px;
}

.home_mypage_title{
	background-color:#afeeee;
	color: #fff;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.home_mypage_inner_text {
	text-align: center;
	color: #000;
}

.home_mypage_links{
	margin:0 0 0 90px;
}
