@charset "UTF-8";


@font-face {
	font-family:"コーポレートロゴ";
	src: url("../font/Corporate-Logo-Bold-ver3.otf");
}

/*変更完了メッセージ用*/
.succsess_mes{
	text-align: center;
	margin:0 auto;
	background-color: #3cb371;
	color: #333;
}

/*統計情報のぺ―ジのCSS*/
.statistics_subject {
	font-size: 35px;
	text-align: center;
	margin:20px auto 30px auto;
	font-family: serif;
}

.statistics_area{
	margin:10px auto;
	width: 930px;
}

.statistics_area .excellent_grades_list {
	text-align: center;
	font-size: 50px;
	margin:30px 0 0 0;
	font-family: serif;
}

.point_contests {
	display: inline-block;
	width:306px;
}

.point_contests h1 {
	width:150px;
	text-align: center;
	margin:10px auto 0 auto;
	font-family: serif;
	border-bottom:solid 1px #000;
}

.point_contests .statistics_points {
	text-align: center;
	font-size: 80px;
	margin:0 5px;
}

.excellent_grades {
	display: inline-block;
	width:305px;
	border:solid 1px #333;
	border-radius: 5px;
}

.excellent_grades .excellent_grades_tags {
	width: 80px;
	margin:10px auto;
	text-align: center;
	font-size: 15px;
	border-bottom:solid 1px #000;
}

.excellent_grades .excellent_grades_data {
	text-align: center;
	font-size: 20px;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999999;
	text-align:center;
	color:#333;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#welcome_mes {
	font-size: 50px;
	font-family:serif;
}

#Loading_mes {
	font-size: 80px;
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left: 0;
    transform: scaleX(0);
    background-color: #333;/*伸びる背景色の設定*/
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;

}

@keyframes PageAnime{
	0% {
		transform-origin:right;
		transform:scaleX(0);
	}
	50% {
		transform-origin:right;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:left;
	}
	100% {
		transform-origin:left;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/

#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}